<section class="hero">
  <div class="container container-hero">
    <div>
      <img
        class="hero__icon1"
        srcset="./img/hero-icon-mob1.png 1x, ./img/hero-icon-mob1-2x.png 2x"
        src="./img/hero-icon-mob1.png"
        alt="headphones"
        width="60"
      />
      <img
        class="hero__icon2"
        srcset="./img/hero-icon-mob2.png 1x, ./img/hero-icon-mob2-2x.png 2x"
        src="./img/hero-icon-mob2.png"
        alt="headphones"
        width="150"
      />
      <img
        class="hero__icon3"
        srcset="./img/hero-icon-mob3.png 1x, ./img/hero-icon-mob3-2x.png 2x"
        src="./img/hero-icon-mob3.png"
        alt="headphones"
        width="88"
      />
    </div>
    <h1 class="hero__title">
      Best shop <br />
      for buying <br />
      gaming products
    </h1>
    <button class="hero__btn" type="button">
      <a class="hero__link">Start shopping</a>
    </button>
  </div>
</section>
